version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      dsharp-packages:
        patterns:
          - "DSharpPlus*"
      other-packages:
        patterns:
          - "*"
