[Unit]
Description=Nellebot

[Service]
Type=notify
ExecStart=/home/nellebot-user/nellebot/Nellebot
WorkingDirectory=/home/nellebot-user/nellebot
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
