[Unit]
Description=Nellebot
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/home/nellebot-user/nellebot/Nellebot
WorkingDirectory=/home/nellebot-user/nellebot
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_ROOT=/usr/share/dotnet
Restart=on-failure
RestartSec=1s
# Restart daily
RuntimeMaxSec=86400

[Install]
WantedBy=default.target
